@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

body {
  font-family: 'Archivo Narrow', sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

nav {
  height: 48px;
  background: #5e35b1;
  color: #fff;
  display: flex;
}

nav ul {
  padding: 0;
  display: flex;
}

nav li {
  padding: 15px;
}

nav li a {
  color: #fff;
  text-decoration: none;
}

nav li a:hover,
.Nav-btn:hover {
  text-decoration: underline;
}

.Nav-btn {
  font-family: 'Archivo Narrow', sans-serif;
  background: #5e35b1;
  color: #fff;
  border: none;
  font-size: 0.9rem;
  vertical-align: baseline;
  padding: 0;
}

.flex-grow {
  flex-grow: 1;
}

.container {
  max-width: 880px;
  margin: 0 auto;
  padding: 20px;
}
.timer {
  font-size: 36px;
}
.timer [class^="icon-"] {
  font-size: 24px;
  margin-right: 8px;
  color: #aaa;
}
.timer [class^="icon-"] {
  font-size: 24px;
  margin-right: 8px;
  color: #aaa;
}
.task {
  border-bottom: 1px solid #eee;
}
.task .active {
  background: #b2ebf2;
}
.task-header [class^="icon-"] {
  margin-right: 8px;
}
.task-header {
  display: flex;
  padding: 5px;
}
.task-header-row {
  font-weight: bold;
}
.task-header-row .checkbox-header {
  margin: 3px 0.5ex;
}
.page-header {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.grow {
  flex-grow: 1;
}
.task-timeslices {
  padding: 0 5px;
}
.task-timeslices > div {
  padding: 2px 0;
  border-bottom: 1px solid #eee;
}
.inline {
  display: inline
}

.badge {
  margin-left: 5px;
  font-size: 11px;
  vertical-align: middle;
  padding: 2px 5px;
  border-radius: 2px;
  background: #777;
  color: #fff;
}

.purple {
  background: #5e35b1;
  color: #fff;
}

.hidden {
  visibility: hidden;
}

.button-group .btn:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.button-group .btn:not(:first-child) {
  border-left: none;
}
.button-group .btn:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.filter-buttons {
  margin-left: 20px;
  vertical-align: baseline;
}
.btn {
  background: #eee;
}
.btn-cyan {
  background: #00acc1;
  color: #fff;
}
.btn-purple {
  background: #5e35b1;
  color: #fff;
}
.btn-red {
  background: #d81b60;
  color: #fff;
}

.AuthForms {
  height: 100vh;
  background: #fafafa;
}

.AuthForms form {
  max-width: 400px;
  margin: 0 auto;
  padding: 1em;
  background: #fff;
  border: 1px solid #f8f8f8;
}

.AuthForms form label,
.AuthForms form input,
.AuthForms form button {
  display: block;
  margin-top: 5px;
}

.AuthForms form label,
.AuthForms form input {
  width: 80%;
}

.AuthForms-error {
  color: #c66;
}