.icon-small {
  transform: scale(0.8);
}

.Task__title--active {
  background: #dbf5f9;
}

.Task__title {
  display: inline-flex;
  align-items: center;
  padding: 3px;
  margin-left: 5px;
}

.ml.ui.button,
.ml.ui.label:first-child {
  margin-left: 0.5rem;
}

.task--done {
  text-decoration: line-through;
}

.task--selected {
  background: #ecd5f4;
}
